In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1441,tt0458352,35000000,326551094,The Devil Wears Prada,Meryl Streep|Anne Hathaway|Emily Blunt|Stanley...,David Frankel,Meet Andy Sachs. A million girls would kill to...,The Devil Wears Prada is about a young journal...,109,Comedy|Drama|Romance,Twentieth Century Fox Film Corporation|Dune En...,6/30/2006,7.0,2006
420,tt1216492,19000000,29922472,Leap Year,Amy Adams|Matthew Goode|Adam Scott|John Lithgo...,Anand Tucker,Anna planned to propose to her boyfriend on Fe...,When yet another anniversary passes without a ...,100,Romance|Comedy,Universal Pictures|Spyglass Entertainment|Octa...,1/8/2010,6.3,2010
450,tt1172991,15000000,4882577,The Company Men,Ben Affleck|Tommy Lee Jones|Chris Cooper|Kevin...,John Wells,"In America, we give our lives to our jobs. It'...",Bobby Walker is living the proverbial American...,104,Drama,Spring Creek Productions|Battle Mountain Films,10/21/2010,6.4,2010
815,tt1412386,10000000,136836156,The Best Exotic Marigold Hotel,Bill Nighy|Maggie Smith|Tom Wilkinson|Judi Den...,John Madden,Share the journey. Share the laughter.,British retirees travel to India to take up re...,124,Drama|Comedy,Participant Media|Imagenation Abu Dhabi FZ,11/28/2011,6.8,2011
108,tt3077214,14000000,16002420,Suffragette,Carey Mulligan|Helena Bonham Carter|Meryl Stre...,Sarah Gavron,Mothers. Daughters. Rebels.,Based on true events about the foot soldiers o...,106,Drama|History,Ruby Films|PathÃ©|Film4,10/16/2015,7.1,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#get the profit of the film
data['profit'] = data['revenue'] - data['budget'] 

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.release_date = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
#+

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values('budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
max_budget = data[data.budget == data.budget.max()]
max_budget
# можно добавлять разные варианты решения

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
#+

In [9]:
data.sort_values('runtime', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
q3 = data.sort_values('runtime').head(1)
answers['3'] = f"{q3.iloc[0]['original_title']} ({q3.iloc[0]['imdb_id']})"
answers['3']

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers ['5'] = round(data.runtime.median())
answers ['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:

# лучше код получения столбца profit вынести в Предобработку что в начале
q6 = data.sort_values('profit', ascending=False).head(1)
answers['6'] = f"{q6.iloc[0]['original_title']} ({q6.iloc[0]['imdb_id']})"
answers['6']

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [14]:
q7 = data.sort_values('profit', ascending=True).head(1)
answers['7'] = f"{q7.iloc[0]['original_title']} ({q7.iloc[0]['imdb_id']})"
answers['7']

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = data[lambda x: x['revenue'] > x['budget']].imdb_id.nunique()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
q9 = data.query('release_year==2008').sort_values('revenue', ascending=False).head(1)
answers['9'] = f"{q9.iloc[0]['original_title']} ({q9.iloc[0]['imdb_id']})"
answers['9']

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
q10 = data.query('2012<=release_year<=2014').sort_values('profit', ascending=True).head(1)
answers['10'] = f"{q10.iloc[0]['original_title']} ({q10.iloc[0]['imdb_id']})"
answers['10']

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = pd.Series(data['genres'].str.cat(sep='|').split('|'))\
                                .value_counts(ascending=False).idxmax()
answers['11']

'Drama'

ВАРИАНТ 2

In [19]:
Counter(data['genres'].str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = pd.Series(data[data['profit'] > 0].genres.str.cat(sep='|').split('|'))\
                                              .value_counts(ascending=False).idxmax()
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = data.groupby('director')['revenue'].sum().sort_values(ascending=False).idxmax()
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
q14 = data[data.genres.str.contains('Action')]
q14 = pd.Series(q14['director'].str.cat(sep='|').split('|')).value_counts()
answers['14'] = q14.idxmax()
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
q15 = data.copy()
q15.cast = q15.cast.str.split('|')
q15 = q15.explode('cast')
q15 = q15.pivot_table(values='revenue', index='cast', columns='release_year', aggfunc='sum')
answers['15'] = q15[2012].idxmax()
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = pd.Series(data[data['budget'] > data['budget'].mean()].cast.str.split('|')\
                                                          .sum()).value_counts().idxmax()
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = pd.Series(data[data.cast.str.contains('Nicolas Cage')].genres.str.cat(sep='|').split('|'))\
                                                                  .value_counts(ascending=False).idxmax()
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
q18 = data[data.production_companies.str.contains('Paramount Pictures')]\
                        .sort_values(['profit'], ascending=True)
answers['18'] = f"{q18.iloc[0]['original_title']} ({q18.iloc[0]['imdb_id']})"
answers['18']

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).idxmax(1)
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
q20 = data[data.production_companies.str.contains('Warner Bros')]
answers['20'] = q20.groupby('release_year')['profit'].sum().sort_values(ascending=False).idxmax()
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = data.release_date.dt.month.value_counts().idxmax()
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
q22 = data.release_date.dt.month.value_counts()
answers['22'] = q22.loc[6] + q22.loc[7] + q22.loc[8]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
q23 = data.copy()
q23.release_date = q23.release_date.apply(lambda x: x.strftime('%B'))
q23 = q23.query('release_date in ["January", "February", "December"]')
answers['23'] = q23.director.str.split('|').explode('director').value_counts().idxmax()
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
q24 = data.copy()
q24['original_title'] = q24.original_title.apply(lambda x: len(x))
q24['production_companies'] = q24.production_companies.str.split("|")
q24 = q24.explode('production_companies')
answers['24'] = q24.groupby(['production_companies'])['original_title'].mean().idxmax()
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
q25 = data.copy()
q25['overview'] = q25.overview.str.split(' ')
q25['overview'] = q25.overview.apply(lambda x: len(x))
q25['production_companies'] = q25.production_companies.str.split("|")
q25 = q25.explode('production_companies')
answers['25'] = q25.groupby(['production_companies'])['overview'].mean().idxmax()
answers['25']
# +

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
persent = np.percentile(data['vote_average'], 99)
q26 = data[data.vote_average > persent]
answers['26'] = q26.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False)
answers['26']

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Room                                             8.0
Interstellar                                     8.0
Inside Out                                       8.0
The Wolf of Wall Street                          7.9
The Pianist                                      7.9
The Lord of the Rings: The Return of the King    7.9
The Grand Budapest Hotel                         7.9
Memento                                          7.9
Inception                                        7.9
Guardians of the Galaxy                          7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
q27 = data.copy()
q27.cast = q27.cast.str.split('|')
cast_counter = Counter()
for casts in q27.cast:
    path = list(combinations(casts, 2))
    cast_counter += Counter(path)
answers['27'] = str(cast_counter.most_common(1))[4:20] + ' & ' + str(cast_counter.most_common(1))[24:36]
answers['27']

'Daniel Radcliffe & Rupert Grint'

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': original_title
 The Dark Knight                                  8.1
 The Imitation Game                               8.0
 Room                                             8.0
 Interstellar                                     8.0
 Inside Out                                       8.0
 The Wolf of Wall Street                          7.9
 The Pianist                                      7.9
 The Lord of the Rings: The Return of the King    7.9
 The Grand Budapest Hotel                         7.9
 Memento                                          7.9
 Inception                                        7.9
 Guardians of the Galaxy                          7.9
 Gone Girl                                        7.9
 12 Years a Slave                                 7.9
 Name: vote_average, dtype: float64,
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27